.container{
    display: grid;
    text-align: center;
    font-size: xx-large;
}
.a{
    color: blue;
}
.b{
    color: red;
}
.c{
    color: yellow;
}
.e{
    color: green;
}
#search{
    padding: 15px;
    margin: 0px 400px 0 400px;
    border-radius: 10em;
}
.card{
    margin: 20px;
}
a{
    margin: 10px;
    text-decoration: none;

    
}
p{
    font-size: small;
    margin: 20px;
}